@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/* Aggressive Reset to override Vite defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hind Siliguri', sans-serif !important;
}

html, body, #root {
  width: 100% !important;
  min-height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
  background-color: #F8F9FA !important;
  color: #111;
  text-align: left !important;
  place-items: unset !important; /* Vite-er centering override */
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Common date picker style */
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
